/* smooth slide fade transition */

/* 
* used in:
*   TabsContainer
*   HeaderMenu
*/

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.slide-fade-enter-to,
.slide-fade-leave-from {
  opacity: 1;
  transform: translateY(0);
}

/* same as slide-fade but with longer translate y */

.slide-fade_long-enter-active,
.slide-fade_long-leave-active {
  transition: all 0.3s ease;
}

.slide-fade_long-enter-from {
  opacity: 0;
  transform: translateY(100px);
}

.slide-fade_long-leave-to {
  opacity: 0;
  transform: translateY(100px);
}

.slide-fade_long-enter-to,
.slide-fade_long-leave-from {
  opacity: 1;
  transform: translateY(0);
}

/* same as slide-fade but with full height translate y */

.slide-fade_full-enter-active,
.slide-fade_full-leave-active {
  transition: all 0.3s ease;
}

.slide-fade_full-enter-from {
  opacity: 0;
  transform: translateY(100%);
}

.slide-fade_full-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

.slide-fade_full-enter-to,
.slide-fade_full-leave-from {
  opacity: 1;
  transform: translateY(0);
}

/* 
* used in:
*   Header
*/

.slide-fade_bottom-enter-active,
.slide-fade_bottom-leave-active {
  transition: all 0.3s ease;
}

.slide-fade_bottom-enter-from,
.slide-fade_bottom-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-fade_bottom-enter-to,
.slide-fade_bottom-leave-from {
  opacity: 1;
  transform: translateY(0);
}

/* 
* used in:
*   FloatingContactButton
*/

.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.3s ease;
}

.slide-down-enter-from {
  opacity: 0;
  transform: translateY(100%);
}

.slide-down-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

.slide-down-enter-to,
.slide-down-leave-from {
  transform: translateY(0);
}
