@layer components {
  .loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg, rgb(0 0 0/50%) 30%, #0000 0 70%, rgb(0 0 0/100%) 0)
        50%/8% 100%,
      linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0)
        50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
  }
  .loader::before,
  .loader::after {
    content: '';
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
  }
  .loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
  }
  @keyframes l23 {
    100% {
      transform: rotate(1turn);
    }
  }
  .hero-slider-shade {
    @apply bg-[linear-gradient(0deg,#05141F_72.81%,rgba(5,20,31,0)100%)] 2xl:bg-[linear-gradient(0deg,rgba(5,20,31,0.5)_24.47%,rgba(5,20,31,0)100%)];
  }

  .hero-slider-shade.long {
    @apply bg-[linear-gradient(0deg,#05141F_84.03%,rgba(5,20,31,0)_100%)] md:bg-[linear-gradient(0deg,#05141F_72.81%,rgba(5,20,31,0)100%)] 2xl:h-[329px] 2xl:bg-[linear-gradient(to_top,rgba(5,20,31,0.5)_24.47%,rgba(5,20,31,0)100%)];
  }

  #header a,
  #header button {
    @apply text-white transition-colors;
  }

  #header.hover {
    @apply border-b-protection bg-white;
  }

  #header.hover a,
  #header.hover button {
    @apply text-primary;
  }
}
